<!-- <button type="submit">
                    <% if (editing) { %>
                      Update Product
                    <% } else { %>
                      Add Product
                    <% } %>
                  </button> -->